.card-container {
    /* カードの使える領域は画面の上半分のみ */
    width: 100%;
    height: 50%;

    background: var(--card-container-color);
}

.card {
    width: 609px;
    height: 250px;

    /* デフォルト */
    background: var(--card-color);
}

#card-text {
    width: 90%;
    height: 90%;
    font-size: 30px;
}

/* 文字を選択できないようにする */
#card-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 左上を三角で削る */
.cut-topleft {
    background: linear-gradient(
        135deg,
        transparent, transparent 5%,
        var(--card-color) 5%, var(--card-color)
    );
}

/* 右上を三角で削る */
.cut-topright {
    background: linear-gradient(
        -135deg,
        transparent, transparent 5%,
        var(--card-color) 5%, var(--card-color)
    );
}